// Colors
$light: #FFFFFF;

// Primary
$blue-primary: #273366;
$blue-resolution: #32407B;

//Text
$text-primary: #4E5677;
$text-secondary-1: #273366;
$text-secondary-2: #848CAA;
$text-white: #FFFFFF;
$text-menu: #5F6A99;

// Secondary
$light-blue: #D8DFF6;
$gray-bg: #F1F1FA;
$blue-bg: #E6E6F5;
$blue-bg-hover: #DFDFF2;
$white-bg: #FEFEFE;

// Colors
$error: #F05A63;
$icon: #B6C0EB;

// Fonts
$font-main: 'Roboto', sans-serif;