.article-search {
    display: block;
    text-decoration: none;
    transition: 0.3s opacity;

    &:hover {
        opacity: 0.7;
    }

    &__title {
        font-weight: 600;
        font-size: rem(24);
        color: $blue-primary
    }

    &__caption {
        font-size: rem(14);
        margin-top: rem(12);
        color: $text-primary;

        b {
            font-weight: 700;
        }
    }
}