.article-news {
    display: block;
    color: $blue-primary;
    text-decoration: none;

    &:hover {
        .article-news__toolbar {
            opacity: 1;
        }
    }

    &__picture {
        display: block;
        position: relative;

        &:after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            position: absolute;
            background-color: rgba(39, 51, 102, 0.2);
        }

        &--small {
            height: rem(180);
        }

        &--analytic {
            height: rem(180);

            @include r(770) {
                height: rem(124);
            }
        }

        &--large {
            height: rem(230);

            @include r(1300) {
                height: rem(180);
            }

            @include r(1000) {
                height: rem(188);
            }

            @include r(700) {
                height: rem(192);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        padding: rem(10) 0 rem(14) 0;

        @include r(700) {
            padding-bottom: 0;
        }
    }

    &__date {
        display: block;
        font-size: rem(12);
        margin-bottom: rem(8);
        color: $text-secondary-2;

        @include r(700) {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 700;
        line-height: 140%;
        font-size: rem(16);
        margin-bottom: rem(8);
    }

    &__toolbar {
        opacity: 0;
        gap: rem(6);
        display: flex;
        align-items: center;
        transition: 0.3s opacity;

        @include r(1000) {
            display: none;
        }
    }

    &__link {
        font-weight: 700;
        line-height: 1.4;
        font-size: rem(14);
    }

    &__icon {
        flex-shrink: 0;
        display: block;
        width: rem(12);
        height: rem(12);
        fill: $blue-primary;
    }
}
