.button {
    width: 100%;
    border: none;
    color: $light;
    display: flex;
    cursor: pointer;
    min-height: rem(40);
    align-items: center;
    transition: 0.3s all;
    border-radius: rem(2);
    text-decoration: none;
    justify-content: center;
    background-color: $blue-resolution;

    &:hover {
        background-color: $blue-primary;
    }

    &.invert {
        color: $blue-primary;
        background-color: $text-white;

        &:hover {
            background-color: $blue-bg;
        }
    }

    &--regular {
        max-width: rem(220);
    }

    &--clear {
        background: none;
        color: $text-menu;
        font-size: rem(16);
        border: 1px solid $text-menu;

        &:hover {
            opacity: 0.5;
            // TODO Сделать нормальный ховер
            //color: $blue-primary;
            //background-color: $light;
        }
    }

    &.menu-fix {
        margin: rem(16) 0;
    }

    @include r(700) {
        min-height: rem(50);
    }

    &[disabled] {

    }

    &__text {
        font-size: rem(14);

        @include r(700) {
            font-size: rem(18);
        }
    }
}

.cover {
    &__content {
        .button {
            @include r(700) {
                color: $light;
                max-width: 100%;
                background-color: $blue-primary;
            }
        }
    }
}
