.button-nav {
    border: none;
    display: flex;
    flex-shrink: 0;
    width: rem(40);
    height: rem(40);
    cursor: pointer;
    align-items: center;
    transition: 0.3s all;
    border-radius: rem(2);
    justify-content: center;
    background-color: $blue-resolution;

    &:hover {
        background-color: $blue-primary;
    }

    &[disabled] {
        pointer-events: none;
        background-color: $gray-bg;

        .button-nav__icon {
            fill: $blue-primary;
        }
    }

    &--news {
        z-index: 2;
        top: rem(70);
        position: absolute;

        &[data-button-prev] {
            left: 0;
            transform: translateX(-50%);
        }

        &[data-button-next] {
            right: 0;
            transform: translateX(50%);
        }
    }

    &__icon {
        width: rem(24);
        display: block;
        height: rem(24);
        fill: $text-white;
    }
}
