.button-head {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    cursor: pointer;
    background: none;
    text-decoration: none;
    transition: 0.3s background-color;

    &:hover {
        background-color: $blue-bg;
    }

    &.invert {
        &:hover {
            background: none;
        }

        &:active {
            opacity: 0.7;
        }

        .button-head__icon {
            @include r(700) {
                fill: $text-white;
            }
        }
    }


    &__icon {
        display: block;
        width: rem(24);
        height: rem(24);
        fill: $blue-primary;

        @include r(700) {
            width: rem(32);
            height: rem(32);
        }
    }
}

.section--header.fixed {
    .button-head {
        &.invert {
            .button-head__icon {
                @include r(700) {
                    fill: $blue-primary
                }
            }
        }
    }
}