.cover {
    display: flex;
    position: relative;
    min-height: rem(380);
    padding-top: rem(100);
    flex-direction: column;
    padding-bottom: rem(30);
    justify-content: center;

    @include r(700) {
        padding-bottom: 0;
    }

    &:before {
        top: 0;
        right: 32%;
        content: "";
        width: 100vw;
        height: 100%;
        display: block;
        position: absolute;
        background-color: $blue-primary;

        @include r(1000) {
            right: 42%;
        }

        @include r(700) {
            top: 0;
            left: auto;
            width: 36%;
            bottom: auto;
            right: rem(-50);
            height: rem(102);
        }
    }

    &__picture {
        right: 0;
        width: 51%;
        top: rem(94);
        display: block;
        //width: rem(630);
        bottom: rem(-50);
        //height: rem(336);
        overflow: hidden;
        position: absolute;

        &:after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            content: "";
            position: absolute;
            background-color: rgba(39, 51, 102, 0.2);
        }

        //@include r(1300) {
        //    width: rem(500);
        //}
        //
        @include r(1000) {
            width: 56%;
            right: rem(-50);
        }

        @include r(700) {
            top: 0;
            right: 0;
            bottom: 0;
            height: rem(275);
            position: relative;
            margin-bottom: rem(30);
            width: calc(100% + 20px);
        }


        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        width: 46%;
        color: $text-white;
        position: relative;

        @include r(700) {
            width: 100%;
            color: $blue-primary;
        }

    }
}