.decor {
    &-1 {
        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            height: rem(424);
            position: absolute;
            background-color: $gray-bg;
        }

    }

    &-about {
        &:before {
            width: 50vw;
            content: "";
            top: rem(-105);
            display: block;
            right: rem(-225);
            height: rem(320);
            position: absolute;
            background-color: $gray-bg;

            @include r(1300) {
                top: rem(-190);
                height: rem(400);
                right: rem(-120);
            }

            @include r(1000) {
                left: 0;
                right: auto;
                top: rem(-80);
                width: rem(200);
                height: rem(270);
            }

            @include r(700) {
                display: none;
            }
        }
    }

    &-3 {
        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            height: rem(250);
            position: absolute;
            background-color: $gray-bg;

            @include r(700) {
                height: rem(325);
            }
        }
    }

    &-offers {
        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            height: rem(373);
            position: absolute;
            background-color: $gray-bg;

            @include r(1300) {
                height: rem(392);
            }

            @include r(1000) {
                height: rem(373);
            }

            @include r(700) {
                height: rem(392);
            }
        }
    }

    &-vacancy {
        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            height: rem(430);
            position: absolute;
            background-color: $gray-bg;

            @include r(1300) {
                height: rem(407);
            }

            @include r(1000) {
                height: rem(465);
            }

            @include r(700) {
                height: rem(188);
            }
        }
    }

    &-contacts {
        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            height: rem(235);
            position: absolute;
            background-color: $gray-bg;

            @include r(1300) {
                height: rem(250);
            }

            @include r(700) {
                height: rem(188);
            }
        }
    }

    &-info {
        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            height: rem(250);
            position: absolute;
            background-color: $gray-bg;

            @include r(700) {
                height: rem(188);
            }
        }
    }

    &-news {
        &:after {
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            height: rem(235);
            position: absolute;
            background-color: $gray-bg;

            @include r(1300) {
                height: rem(250);
            }

            @include r(700) {
                height: rem(188);
            }
        }
    }
}
