.link-social {
    flex-shrink: 0;
    display: block;

    &--menu {
        &:hover {
            .link-social__icon {
                fill: $icon;
            }
        }

        .link-social__icon {
            width: rem(48);
            height: rem(48);
            fill: $text-menu;

            @include r(1300) {

            }

            @include r(1000) {

            }

            @include r(700) {

            }
        }
    }

    &--intro {
        &:hover {
            opacity: 0.5;
        }

        .link-social__icon {
            fill: none;
            width: rem(42);
            height: rem(42);
            stroke-width: 1px;
            stroke: $text-secondary-2;

            @include r(1300) {

            }

            @include r(1000) {

            }

            @include r(700) {

            }
        }
    }


    &--mobile {
        .link-social__icon {
            width: rem(40);
            height: rem(40);
            fill: $blue-primary;
        }
    }

    &--contact {
        .link-social__icon {
            width: rem(42);
            height: rem(42);
        }
    }

    &__icon {
        display: block;
        transition: 0.3s fill;
    }
}
