.link-head {
    display: block;
    color: inherit;
    font-weight: 900;
    font-size: rem(14);
    width: fit-content;
    text-decoration: none;
    transition: 0.3s color;

    @include r(700) {
        font-weight: 700;
        line-height: 1.1;
        font-size: rem(24);
    }

    &:hover {
        color: $text-primary;
    }
}
