.menu-footer {
    gap: rem(30);
    display: flex;
    justify-content: space-between;

    @include r(1300) {

    }

    @include r(1000) {
        gap: rem(6) rem(16);
        flex-wrap: wrap;
    }

    @include r(700) {

    }

    &__column {
        gap: rem(12);
        display: flex;
        flex-direction: column;

        @include r(1300) {
            gap: rem(4);
        }

        @include r(1000) {
            gap: rem(6);
        }

        &:nth-child(1) {
            @include r(1000) {
                width: 100%;
            }
        }
    //
        &:nth-child(2) {
            @include r(1000) {
                width: 70%;
            }
        }
    //
        &:nth-child(3) {
            @include r(1000) {
                width: 20%;
            }
        }
    }
}