.process {
    display: block;
    position: relative;

    &.animate {
        .process {
            &__fill {
                animation: dash 5s linear alternate 1;
                animation-fill-mode: forwards;
            }

            &__marker {
                animation: route 5s linear alternate 1;
                animation-fill-mode: forwards;
            }
        }
    }

    &__svg {
        left: 50%;
        top: rem(75);
        width: rem(1920);
        position: absolute;
        transform: translateX(-50%);

        @include r(1000) {
            display: none;
        }

        &--bg {
            z-index: 0;
        }

        &--marker {
            z-index: 2;
        }
    }

    &__content {
        z-index: 1;
        position: relative;
    }

    &__dashed {
        stroke: $white-bg;
        stroke-dasharray: 6, 6;
    }

    &__fill {
        stroke-dashoffset: 1920;
        stroke-linejoin: round;
        stroke-dasharray: 1920;
    }

    &__marker {
        offset-distance: 0;
        offset-path: path('M0 0.5H1920');
    }

    &__route-mob {
        top: 0;
        bottom: 0;
        width: 2px;
        //height: 100%;
        right: rem(13);
        display: none;
        position: absolute;
        background-size: 2px auto;
        background-image: url("../assets/content/route-mob.svg");

        @include r(1000) {
            display: block;
        }
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 1920;
        }
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes route {
        from {
            offset-distance: 0;
        }
        to {
            offset-distance: 100%;
        }
    }
}