.slider {
    &__slide {
        opacity: 0;
        transition-property: transform, opacity !important;
        //visibility: hidden;
        transition: 0.3s all;

        &.visible {
            opacity: 1;
            //visibility: visible;
        }

        &--service {
            height: auto;
            min-height: rem(380);

            @include r(1300) {

            }

            @include r(1000) {

            }

            @include r(700) {

            }

            @include r(770) {
                width: rem(335);
            }
        }
    }
}