.text-table {
    line-height: 1.2;

    @at-root {
        span#{&} {
            font-weight: 400;
            font-size: rem(16);
        }

        strong#{&} {
            font-weight: 700;
            font-size: rem(18);

            @include r(700) {
                font-weight: 500;
                font-size: rem(16);
            }
        }
    }
}
