<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="columns__col columns__col--6">

                </div>
                <div class="columns__col columns__col--6">
                    <svg>
                        <use xlink:href="./assets/sprite/sprite.svg#icon-camera"></use>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section class="section relative z-index-1">
        <div class="container">
            <div class="shift shift--about">
                <div class="shift__picture">
                    <img alt="" src="./assets/content/ill-2.jpg">
                </div>
                <div class="shift__content">
                    <h2 class="title mb-20">
                        Кто мы?
                    </h2>
                    <div class="editor color-primary fz-14 fz-mob-16">
                        <p>
                            DFL - глобальный логистический оператор, лидер в области логистических процессов на
                            международном рынке. Штаб-квартира компании находится в Дании, в городе Копенгегене, где DFL
                            была основана в 1976 году.
                        </p>
                        <p>
                            В Калининграде DFL представлена компанией ООО "ДФЛ Транспорт", которая более 20 лет
                            оперирует на
                            региональном рынке и успела из обычного международного экспедитора превратиться в ведущего
                            поставщика интегрированных решений сети поставок для широкого спектра отраслей
                            промышленности.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-80 pt-40 ptl-40 ptt-80 ptm-40 pbt-25 pbm-40 pbm-40">
        <div class="container">
            <h2 class="title mb-30">
                Документы
            </h2>
            <div class="links-doc">
                <a class="article-doc" href="">
                    <div class="article-doc__main">
                        <p>Свидетельство о государственной перерегистрации юридического лица</p>
                    </div>
                    <div class="article-doc__aside">
                        <span class="article-doc__caption">
                            Скачать документ
                        </span>
                        <svg class="article-doc__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                        </svg>
                    </div>
                </a>
                <a class="article-doc" href="">
                    <div class="article-doc__main">
                        <p>Правилами транспортно-экспедиционной деятельности (утв. Постановлением Правительства РФ от
                            08.09.2006 г. № 554)</p>
                    </div>
                    <div class="article-doc__aside">
                        <span class="article-doc__caption">
                            Скачать документ
                        </span>
                        <svg class="article-doc__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                        </svg>
                    </div>
                </a>
                <a class="article-doc" href="">
                    <div class="article-doc__main">
                        <p>Приложение 4.1.6 Письмо ФНС от 21.08.2009 г. № ШС-22-3/660 "О направлении систематизированных
                            материалов по документированию операций при транспортировке товаров")</p>
                    </div>
                    <div class="article-doc__aside">
                        <span class="article-doc__caption">
                            Скачать документ
                        </span>
                        <svg class="article-doc__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionPartners %>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>