<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeaderInvert %>
<main class="main decor-contacts">
    <section class="section z-index-2">
        <div class="container">
            <div class="cover">
                <picture class="cover__picture">
                    <img alt="#" src="./assets/content/ill-about.jpg">
                </picture>
                <div class="cover__content">
                    <h1 class="title mb-15">
                        Контакты
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="map-section">
<!--            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A885df1a95a128b9dc715a0b0b7c69b5f2720a8002e44b20980447e0a976da40e&amp;source=constructor"></iframe>-->
        </div>
    </section>
    <section class="section mb-90 mbl-80">
        <div class="container">
            <div class="block-accent block-accent--right mb-80">
                <picture class="block-accent__picture">
                    <img src="./assets/content/offers-intro.jpg" alt="">
                </picture>
                <div class="block-accent__aside">
                    <div class="columns">
                        <div class="columns__col columns__col--12 columns__col--tab-6">
                            <article class="article-contact article-contact--card">
                                <h3 class="article-contact__title">
                                    Отдел автомобильных грузоперевозок
                                </h3>
                                <h4 class="article-contact__name">
                                    Лукьянов Вадим
                                </h4>
                                <p class="article-contact__caption">
                                    Начальник отдела
                                </p>
                                <div class="article-contact__links">
                                    <a class="link-contact link-contact--medium" href="tel:+74012306203">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            +7 (4012) 30 62 03
                                        </span>
                                    </a>
                                    <a class="link-contact link-contact--medium" href="mailto:vadim.lukyanov@ru.dsv.com">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            vadim.lukyanov@ru.dsv.com
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--12 columns__col--tab-6">
                            <article class="article-contact article-contact--card">
                                <h3 class="article-contact__title">
                                    Отдел автомобильных грузоперевозок
                                </h3>
                                <h4 class="article-contact__name">
                                    Павлов Григорий
                                </h4>
                                <p class="article-contact__caption">
                                    Старший менеджер
                                </p>
                                <div class="article-contact__links">
                                    <a class="link-contact link-contact--medium" href="tel:+74012306202">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            +7 (4012) 30 62 02
                                        </span>
                                    </a>
                                    <a class="link-contact link-contact--medium" href="mailto:grigory.pavlov@ru.dsv.com">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            grigory.pavlov@ru.dsv.com
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-accent block-accent--left mb-80">
                <div class="block-accent__aside">
                    <div class="columns">
                        <div class="columns__col columns__col--12 columns__col--tab-6">
                            <article class="article-contact article-contact--card">
                                <h3 class="article-contact__title">
                                    Отдел морских и авиа перевозок
                                </h3>
                                <h4 class="article-contact__name">
                                    Тонюк Александр
                                </h4>
                                <p class="article-contact__caption">
                                    Начальник отдела
                                </p>
                                <div class="article-contact__links">
                                    <a class="link-contact link-contact--medium" href="tel:+74012306212">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            +7 (4012) 30 62 12
                                        </span>
                                    </a>
                                    <a class="link-contact link-contact--medium" href="mailto:alexander.tonyuk@ru.dsv.com">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            alexander.tonyuk@ru.dsv.com
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--12 columns__col--tab-6">
                            <article class="article-contact article-contact--card">
                                <h3 class="article-contact__title">
                                    Отдел морских и авиа перевозок
                                </h3>
                                <h4 class="article-contact__name">
                                    Пономаренко Олеся
                                </h4>
                                <p class="article-contact__caption">
                                    Старший менеджер
                                </p>
                                <div class="article-contact__links">
                                    <a class="link-contact link-contact--medium" href="tel:+74012306202">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            +7 (4012) 30 62 02
                                        </span>
                                    </a>
                                    <a class="link-contact link-contact--medium" href="mailto:olesya.ponomarenko@ru.dsv.com">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            olesya.ponomarenko@ru.dsv.com
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <picture class="block-accent__picture">
                    <img src="./assets/content/transport-intro.jpg" alt="">
                </picture>
            </div>
            <div class="block-accent block-accent--top">
                <div class="block-accent__aside">
                    <div class="columns">
                        <div class="columns__col columns__col--4 columns__col--tab-6">
                            <article class="article-contact article-contact--card">
                                <h3 class="article-contact__title">
                                    Отдел складской логистики
                                </h3>
                                <h4 class="article-contact__name">
                                    Костенко Александр
                                </h4>
                                <p class="article-contact__caption">
                                    Начальник отдела
                                </p>
                                <div class="article-contact__links">
                                    <a class="link-contact link-contact--medium" href="tel:+74012306221">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            +7 (4012) 30 62 21
                                        </span>
                                    </a>
                                    <a class="link-contact link-contact--medium" href="mailto:vadim.lukyanov@ru.dsv.com">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            vadim.lukyanov@ru.dsv.com
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6">
                            <article class="article-contact article-contact--card">
                                <h3 class="article-contact__title">
                                    Отдел таможенного оформления
                                </h3>
                                <h4 class="article-contact__name">
                                    Шелегова Светлана
                                </h4>
                                <p class="article-contact__caption">
                                    Начальник отдела
                                </p>
                                <div class="article-contact__links">
                                    <a class="link-contact link-contact--medium" href="tel:+74012306230">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            +7 (4012) 30 62 30
                                        </span>
                                    </a>
                                    <a class="link-contact link-contact--medium" href="mailto:svetlana.shelegova@ru.dsv.com">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            svetlana.shelegova@ru.dsv.com
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6">
                            <article class="article-contact article-contact--card">
                                <h3 class="article-contact__title">
                                    Отдел продаж
                                </h3>
                                <h4 class="article-contact__name">
                                    Пожарcкий Андрей
                                </h4>
                                <p class="article-contact__caption">
                                    Начальник отдела
                                </p>
                                <div class="article-contact__links">
                                    <a class="link-contact link-contact--medium" href="tel:+74012306253">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            +7 (4012) 30 62 53
                                        </span>
                                    </a>
                                    <a class="link-contact link-contact--medium" href="mailto:andrey.pozharskiy@ru.dsv.com">
                                        <svg class="link-contact__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                        </svg>
                                        <span class="link-contact__text">
                                            andrey.pozharskiy@ru.dsv.com
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <picture class="block-accent__picture">
<!--                    <source media="(max-width: 700px)" srcset="./assets/content/ship-intro-m.jpg">-->
                    <source media="(max-width: 1000px)" srcset="./assets/content/ship-intro-t.jpg">
                    <source media="(max-width: 1300px)" srcset="./assets/content/ship-intro-l.jpg">
                    <img src="./assets/content/ship-intro-d.jpg" alt="">
                </picture>
            </div>
        </div>
    </section>
    <section class="section mb-135 mbt-150 mbm-130">
        <div class="container">
            <div class="toolbar toolbar--start mb-40">
                <h2 class="title">
                    Реквизиты
                </h2>
                <button class="button-copy" data-button-props>
                    <svg class="button-copy__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-copy"></use>
                    </svg>
                </button>
            </div>
            <div class="list-articles list-articles--props">
                <article class="article-prop" data-prop>
                    <h3 class="article-prop__title" data-prop-title>
                        ИНН
                    </h3>
                    <div class="article-prop__toolbar">
                        <span class="article-prop__code" data-prop-code>
                            9718033432
                        </span>
                        <button class="button-copy" data-prop>
                            <svg class="button-copy__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-copy"></use>
                            </svg>
                        </button>
                    </div>
                </article>
                <article class="article-prop" data-prop>
                    <h3 class="article-prop__title" data-prop-title>
                        КПП
                    </h3>
                    <div class="article-prop__toolbar">
                        <span class="article-prop__code" data-prop-code>
                            9718033432
                        </span>
                        <button class="button-copy" data-prop>
                            <svg class="button-copy__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-copy"></use>
                            </svg>
                        </button>
                    </div>
                </article>
                <article class="article-prop" data-prop>
                    <h3 class="article-prop__title" data-prop-title>
                        ОГРН
                    </h3>
                    <div class="article-prop__toolbar">
                        <span class="article-prop__code" data-prop-code>
                            9718033432
                        </span>
                        <button class="button-copy" data-prop>
                            <svg class="button-copy__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-copy"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
