<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--visible decor-news">
    <div class="container">
        <div class="layout pt-100 ptm-80">
            <div class="layout__aside">
                <aside class="sidebar" data-manual>
                    <div class="sidebar__header">
                        <form class="form-search" data-search-manual>
                            <input type="text" class="form-search__input" placeholder="Поиск" data-manual-input>
                            <button class="form-search__button">
                                <svg class="form-search__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <div class="sidebar__main">
                        <article class="article-manual-aside" data-manual-article>
                            <h3 class="article-manual-aside__title">
                                Название справочника
                            </h3>
                            <div class="article-manual-aside__list" data-manual-block>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Изменения в логистике в связи с COVID-19
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Расчет расстояний между городами
                                </a>
                            </div>
                        </article>
                        <article class="article-manual-aside" data-search-block>
                            <h3 class="article-manual-aside__title">
                                Название справочника
                            </h3>
                            <div class="article-manual-aside__list" data-manual-block>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Коды стран ISO
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Морская транспортная накладная и морской коносамент
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Изменения в логистике в связи с COVID-19
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Расчет расстояний между городами
                                </a>
                            </div>
                        </article>
                        <article class="article-manual-aside" data-search-block>
                            <h3 class="article-manual-aside__title">
                                Название справочника
                            </h3>
                            <div class="article-manual-aside__list" data-manual-block>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Коды стран ISO
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Морская транспортная накладная и морской коносамент
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Изменения в логистике в связи с COVID-19
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Расчет расстояний между городами
                                </a>
                            </div>
                        </article>
                        <article class="article-manual-aside" data-search-block>
                            <h3 class="article-manual-aside__title">
                                Название справочника
                            </h3>
                            <div class="article-manual-aside__list" data-manual-block>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Коды стран ISO
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Морская транспортная накладная и морской коносамент
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Изменения в логистике в связи с COVID-19
                                </a>
                                <a href="" class="article-manual-aside__link" data-manual-item>
                                    Расчет расстояний между городами
                                </a>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
            <div class="layout__main">
                <section class="section mb-80">
                    <h2 class="title mb-30 mbm-20">
                        Название справочника
                    </h2>
                </section>
                <section class="section mb-80">
                    <h2 class="title mb-30 mbm-20">
                        Документы
                    </h2>
                    <div class="list-articles">
                        <a class="article-doc" href="">
                            <div class="article-doc__main">
                                <p>Договор транспортного экспедирования</p>
                            </div>
                            <div class="article-doc__aside">
                                <span class="article-doc__caption">
                                    Скачать документ
                                </span>
                                <svg class="article-doc__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                                </svg>
                            </div>
                        </a>
                        <a class="article-doc" href="">
                            <div class="article-doc__main">
                                <p>Разовая договор-заявка</p>
                            </div>
                            <div class="article-doc__aside">
                                <span class="article-doc__caption">
                                    Скачать документ
                                </span>
                                <svg class="article-doc__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                                </svg>
                            </div>
                        </a>
                        <a class="article-doc" href="">
                            <div class="article-doc__main">
                                <p>Договор транспортного экспедирования</p>
                            </div>
                            <div class="article-doc__aside">
                                <span class="article-doc__caption">
                                    Скачать документ
                                </span>
                                <svg class="article-doc__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                                </svg>
                            </div>
                        </a>
                        <a class="article-doc" href="">
                            <div class="article-doc__main">
                                <p>Разовая договор-заявка</p>
                            </div>
                            <div class="article-doc__aside">
                                <span class="article-doc__caption">
                                    Скачать документ
                                </span>
                                <svg class="article-doc__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                                </svg>
                            </div>
                        </a>
                        <a class="article-doc" href="">
                            <div class="article-doc__main">
                                <p>Договор транспортного экспедирования</p>
                            </div>
                            <div class="article-doc__aside">
                                <span class="article-doc__caption">
                                    Скачать документ
                                </span>
                                <svg class="article-doc__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </section>
                <section class="section mb-80">
                    <h2 class="title mb-30 mbm-20">
                        Ссылки
                    </h2>
                    <div class="editor fz-14 mb-30 mbm-20">
                        <p>
                            В настоящее время более 50 международных компаний из России перебазировались в Казахстан.
                            Концентрировать их все в крупных городах непродуктивно. Акимату (LR: администрации) нужно
                            проработать размещение таких производств рядом с Алматы по периметру Большой Алматинской
                            кольцевой автомобильной дорогой, что существенно поможет экономике области. Обсудите этот
                            вопрос с Правительством и компаниями, – посоветовал Президент.
                        </p>
                    </div>
                    <div class="list-articles">
                        <a href="" class="article-manual">
                            <span class="article-manual__title">
                                Расчет расстояний между городами
                            </span>
                            <svg class="article-manual__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </a>
                        <a href="" class="article-manual">
                            <span class="article-manual__title">
                                Коды стран ISO
                            </span>
                            <svg class="article-manual__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </a>
                        <a href="" class="article-manual">
                            <span class="article-manual__title">
                                Морская транспортная накладная и морской коносамент
                            </span>
                            <svg class="article-manual__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </a>
                        <a href="" class="article-manual">
                            <span class="article-manual__title">
                                Инструкция по перевозке крупногабаритных и тяжеловесных грузов
                            </span>
                            <svg class="article-manual__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </section>
                <section class="section mb-80">
                    <div class="editor">
                        <div class="editor">
                            <picture class="picture float-left">
                                <img src="./assets/content/414x274.svg" alt="#">
                            </picture>
                            <h2>
                                Подзаголовок
                            </h2>
                            <p>
                                В настоящее время более 50 международных компаний из России перебазировались в
                                Казахстан. Концентрировать их все в крупных городах непродуктивно. Акимату (LR:
                                администрации) нужно проработать размещение таких производств рядом с Алматы по
                                периметру Большой Алматинской кольцевой автомобильной дорогой, что существенно поможет
                                экономике области. Обсудите этот вопрос с Правительством и компаниями, – посоветовал
                                Президент.
                            </p>
                            <p>
                                В настоящее время более 50 международных компаний из России перебазировались в
                                Казахстан.
                            </p>
                            <p>
                                В настоящее время более 50 международных компаний из России перебазировались в
                                Казахстан. Концентрировать их все в крупных городах непродуктивно. Акимату (LR:
                                администрации) нужно проработать размещение таких производств рядом с Алматы по
                                периметру Большой Алматинской кольцевой автомобильной дорогой, что существенно поможет
                                экономике области. Обсудите этот вопрос с Правительством и компаниями, – посоветовал
                                Президент.
                            </p>
                            <br>
                            <br>
                            <br>
                            <h2>
                                Подзаголовок
                            </h2>
                            <p>
                                В настоящее время более 50 международных компаний из России перебазировались в
                                Казахстан. Концентрировать их все в крупных городах непродуктивно. Акимату (LR:
                                администрации) нужно проработать размещение таких производств рядом с Алматы по
                                периметру Большой Алматинской кольцевой автомобильной дорогой, что существенно поможет
                                экономике области. Обсудите этот вопрос с Правительством и компаниями, – посоветовал
                                Президент.
                            </p>
                            <p>
                                В настоящее время более 50 международных компаний из России перебазировались в
                                Казахстан. Концентрировать их все в крупных городах.
                            </p>
                        </div>
                    </div>
                </section>
                <section class="section mb-135 mbl-140 mbt-140 mbm-80">
                    <div class="slider" data-slider="handbook">
                        <div class="toolbar mb-30">
                            <h2 class="title">
                                Галерея
                            </h2>
                            <div class="nav-slider tab-hide" data-nav>
                                <button class="button-nav" data-button-prev>
                                    <svg class="button-nav__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="button-nav" data-button-next>
                                    <svg class="button-nav__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="swiper-container slider__container slider__container--overflow">
                            <div class="swiper-wrapper slider__wrapper">
                                <div class="swiper-slide slider__slide slider__slide--gallery">
                                    <a href="" class="article-gallery">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок">
                                    </a>
                                </div>
                                <div class="swiper-slide slider__slide slider__slide--gallery">
                                    <a href="" class="article-gallery">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок">
                                    </a>
                                </div>
                                <div class="swiper-slide slider__slide slider__slide--gallery">
                                    <a href="" class="article-gallery">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок">
                                    </a>
                                </div>
                                <div class="swiper-slide slider__slide slider__slide--gallery">
                                    <a href="" class="article-gallery">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок">
                                    </a>
                                </div>
                                <div class="swiper-slide slider__slide slider__slide--gallery">
                                    <a href="" class="article-gallery">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок">
                                    </a>
                                </div>
                            </div>
                            <div class="slider__progressbar progressbar"></div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
