<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeaderInvert %>
<main class="main decor-info">
    <section class="section mb-130 mbm-80">
        <div class="container">
            <div class="cover">
                <picture class="cover__picture">
                    <img alt="#" src="./assets/content/info-intro.jpg">
                </picture>
                <div class="cover__content">
                    <h1 class="title mb-10">
                        Полезная информация
                    </h1>
                    <div class="editor fz-14 fz-mob-16">
                        <p>
                            Для вашего удобства мы собрали все последние новости <br class="tab-hidden">
                            и актуальные материалы в один раздел. <br class="tab-hidden">
                            Наши менеджеры готовы подсказать кроме указанной в этом разделе иную информацию и данные по
                            другим вопросам в сфере транспортной логистики
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="slider" data-slider="news">
                <div class="toolbar mb-30">
                    <h2 class="title">
                        Новости
                    </h2>
                    <a href="./news.html" class="toolbar__link">
                        Показать все
                    </a>
                </div>
                <div class="relative">
                    <button class="button-nav button-nav--news tab-hidden" data-button-prev>
                        <svg class="button-nav__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="button-nav button-nav--news tab-hidden" data-button-next>
                        <svg class="button-nav__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                    <div class="swiper-container slider__container slider__container--overflow relative" data-nav>
                        <div class="swiper-wrapper slider__wrapper">
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация о формуле формирования рейтинга
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация о формуле формирования рейтинга
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация о формуле формирования рейтинга
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация о формуле формирования рейтинга
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--news">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--small">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <time class="article-news__date">
                                            08:53, 6 декабря 2022
                                        </time>
                                        <h3 class="article-news__title">
                                            Актуальная информация
                                        </h3>
                                        <div class="article-news__toolbar">
                                        <span class="article-news__link">
                                            Подробнее
                                        </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slider__progressbar progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="slider" data-slider="analytics">
                <div class="toolbar mb-30">
                    <h2 class="title">
                        Аналитика по рынку
                    </h2>
                    <a href="./news.html" class="toolbar__link">
                        Показать все
                    </a>
                </div>
                <div class="relative">
                    <button class="button-nav button-nav--news tab-hidden" data-button-prev>
                        <svg class="button-nav__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="button-nav button-nav--news tab-hidden" data-button-next>
                        <svg class="button-nav__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                    <div class="swiper-container slider__container slider__container--overflow relative" data-nav>
                        <div class="swiper-wrapper slider__wrapper">
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Инструкция по перевозке крупногабаритных и тяжеловесных грузов
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Изменения в логистике в связи с COVID-19
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Морская транспортная накладная и морской коносамент
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Инструкция по перевозке крупногабаритных и тяжеловесных грузов
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Изменения в логистике в связи с COVID-19
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Морская транспортная накладная и морской коносамент
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Заголовок новости">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Инструкция по перевозке крупногабаритных и тяжеловесных грузов
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider__slide slider__slide--analytics">
                                <a href="./single-post.html" class="article-news">
                                    <picture class="article-news__picture article-news__picture--analytic">
                                        <img src="./assets/content/placeholder.svg" alt="Актуальная информация о формуле формирования рейтинга">
                                    </picture>
                                    <div class="article-news__content">
                                        <h3 class="article-news__title">
                                            Актуальная информация о формуле формирования рейтинга
                                        </h3>
                                        <div class="article-news__toolbar">
                                            <span class="article-news__link">
                                                Подробнее
                                            </span>
                                            <svg class="article-news__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slider__progressbar progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-150">
        <div class="container">
            <h2 class="title mb-25">
                Справочник
            </h2>
            <div class="mb-25">
                Форма поиска
            </div>
            <h3 class="title title--small mb-15">
                Логистика
            </h3>
            <div class="list-articles mb-20">
                <a href="" class="article-manual">
                    <span class="article-manual__title">
                        Изменения в логистике в связи с COVID-19
                    </span>
                    <svg class="article-manual__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </a>
                <a href="" class="article-manual">
                    <span class="article-manual__title">
                        Инструкция по перевозке крупногабаритных и тяжеловесных грузов
                    </span>
                    <svg class="article-manual__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <h3 class="title title--small mb-15">
                Название категории справочников
            </h3>
            <div class="list-articles mb-20">
                <a href="" class="article-manual">
                    <span class="article-manual__title">
                        Расчет расстояний между городами
                    </span>
                    <svg class="article-manual__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </a>
                <a href="" class="article-manual">
                    <span class="article-manual__title">
                        Коды стран ISO
                    </span>
                    <svg class="article-manual__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </a>
                <a href="" class="article-manual">
                    <span class="article-manual__title">
                        Морская транспортная накладная и морской коносамент
                    </span>
                    <svg class="article-manual__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </a>
                <a href="" class="article-manual">
                    <span class="article-manual__title">
                        Инструкция по перевозке крупногабаритных и тяжеловесных грузов
                    </span>
                    <svg class="article-manual__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
