<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeaderInvert %>
<main class="main decor-vacancy">
    <section class="section mb-130 mbm-80">
        <div class="container">
            <div class="cover">
                <picture class="cover__picture">
                    <img alt="#" src="./assets/content/job-intro.jpg">
                </picture>
                <div class="cover__content">
                    <h1 class="title mb-10">
                        Больше, чем просто работа
                    </h1>
                    <div class="editor fz-14 fz-mob-16 mb-20 mbm-30">
                        Если вы хотите стать частью команды DFL, <br class="tab-hidden">
                        присоединяйтесь к нам сегодня и исследуйте свой потенциал!
                    </div>
                    <a href="#section-form" class="button button--regular invert">
                        <span class="button__text">
                            Отправить резюме
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80 mbt-70">
        <div class="container">
            <div class="shift shift--about">
                <div class="shift__picture">
                    <img alt="Кто мы?" src="./assets/content/ill-about.jpg">
                </div>
                <div class="shift__content">
                    <h2 class="title mb-20">
                        Кто мы?
                    </h2>
                    <div class="editor color-primary fz-14 fz-mob-16">
                        <p>
                            DFL - глобальный логистический оператор, лидер в области логистических процессов на
                            международном рынке. Штаб-квартира компании находится в Дании, в городе Копенгегене, где DFL
                            была основана в 1976 году.
                        </p>
                        <p>
                            В Калининграде DFL представлена компанией ООО "ДФЛ Транспорт", которая более 20 лет
                            оперирует на
                            региональном рынке и успела из обычного международного экспедитора превратиться в ведущего
                            поставщика интегрированных решений сети поставок для широкого спектра отраслей
                            промышленности.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-65">
        <div class="container">
            <h2 class="title mb-30">
                Вакансии
            </h2>
            <div class="columns">
                <div class="columns__col columns__col--4">
                    <a href="" class="article-vacancy">
                        <picture class="article-vacancy__picture">
                            <img src="./assets/content/about-intro.jpg" alt="">
                        </picture>
                        <div class="article-vacancy__content">
                            <h3 class="article-vacancy__title">
                                Менеджер-логист по продажам транспортных услуг
                            </h3>
                            <p class="article-vacancy__caption">
                                35 000 - 50 000 ₽
                            </p>
                            <div class="article-vacancy__footer">
                                <span class="article-vacancy__link">
                                    Подробнее
                                </span>
                                <svg class="article-vacancy__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a href="" class="article-vacancy">
                        <picture class="article-vacancy__picture">
                            <img src="./assets/content/job-intro.jpg" alt="">
                        </picture>
                        <div class="article-vacancy__content">
                            <h3 class="article-vacancy__title">
                                Специалист по складской логистике
                            </h3>
                            <p class="article-vacancy__caption">
                                35 000 - 50 000 ₽
                            </p>
                            <div class="article-vacancy__footer">
                                <span class="article-vacancy__link">
                                    Подробнее
                                </span>
                                <svg class="article-vacancy__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a href="" class="article-vacancy">
                        <picture class="article-vacancy__picture">
                            <img src="./assets/content/about-intro.jpg" alt="">
                        </picture>
                        <div class="article-vacancy__content">
                            <h3 class="article-vacancy__title">
                                Менеджер-логист по продажам транспортных услуг
                            </h3>
                            <p class="article-vacancy__caption">
                                35 000 - 50 000 ₽
                            </p>
                            <div class="article-vacancy__footer">
                                <span class="article-vacancy__link">
                                    Подробнее
                                </span>
                                <svg class="article-vacancy__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a href="" class="article-vacancy">
                        <picture class="article-vacancy__picture">
                            <img src="./assets/content/job-intro.jpg" alt="">
                        </picture>
                        <div class="article-vacancy__content">
                            <h3 class="article-vacancy__title">
                                Специалист по складской логистике
                            </h3>
                            <p class="article-vacancy__caption">
                                35 000 - 50 000 ₽
                            </p>
                            <div class="article-vacancy__footer">
                                <span class="article-vacancy__link">
                                    Подробнее
                                </span>
                                <svg class="article-vacancy__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a href="" class="article-vacancy">
                        <picture class="article-vacancy__picture">
                            <img src="./assets/content/about-intro.jpg" alt="">
                        </picture>
                        <div class="article-vacancy__content">
                            <h3 class="article-vacancy__title">
                                Менеджер-логист по продажам транспортных услуг
                            </h3>
                            <p class="article-vacancy__caption">
                                35 000 - 50 000 ₽
                            </p>
                            <div class="article-vacancy__footer">
                                <span class="article-vacancy__link">
                                    Подробнее
                                </span>
                                <svg class="article-vacancy__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="container-form" id="section-form">
                <h2 class="title mb-8 mbm-20">
                    Отправьте нам резюме
                </h2>
                <div class="editor editor--14 color-primary mb-20">
                    <p>
                        Мы рассмотрим кандидатов из любой точки России и стран СНГ, профессионалов логистической
                        отрасли, а также специалистов разных областей и уровней, любящих свою работу и получивших высшее
                        образование. Если Вы порекомендуете нам кандидата, и он пройдет испытатльный срок, Вас ждет
                        приятный бонус
                    </p>
                </div>
                <form action="" class="form">
                    <div class="columns columns--form">
                        <div class="columns__col columns__col--4 columns__col--tab-6 order-m-1">
                            <label class="field">
                                <p class="field__title">
                                    ФИО<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите ФИО">
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 order-m-2">
                            <label class="field">
                                <p class="field__title">
                                    Название организации<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите организацию">
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 order-m-3">
                            <label class="field">
                                <p class="field__title">
                                    Телефон<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="+7 (___) ___-__-__">
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 order-m-4">
                            <label class="field">
                                <p class="field__title">
                                    Почта<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите почту">
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 order-m-8">
                            <label class="input-file" data-input-file>
                                <input type="file" class="input-file__field" data-input-file-field>
                                <svg class="input-file__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-clip"></use>
                                </svg>
                                <span class="input-file__text" data-input-file-caption>
                                    Прикрепить файл<strong>*</strong>
                                </span>
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 order-m-8">
                            <button class="button full">
                                <span class="button__text">
                                    Отправить резюме
                                </span>
                            </button>
                        </div>
                        <div class="columns__col columns__col--8 columns__col--tab-6 mob-hidden"></div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 order-m-7">
                            <label class="agreement">
                                <input type="checkbox" class="agreement__field">
                                <div class="agreement__box"></div>
                                <span class="agreement__text">
                                    Я согласен на обработку <a href="">персональных данных</a>
                                </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="section mb-80 mbt-40 mbm-80 overflow-hidden">
        <div class="container">
            <div class="slider" data-slider="workers">
                <div class="toolbar mb-30">
                    <h2 class="title">
                        DFL в лицах
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <!-- Ссылка на 1920х1080, img - маленький -->
                            <a class="article-gallery" href="./assets/content/ill-worker-1.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-2.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-3.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-1.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-2.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-3.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-1.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-2.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/ill-worker-3.jpg" data-fancybox="photo">
                                <img src="./assets/content/ill-worker-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80 mbt-40 mbm-80">
        <div class="container">
            <div class="slider" data-slider="workersReviews">
                <div class="toolbar mb-30">
                    <h2 class="title">
                        Отзывы сотрудников
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <picture class="article-review__picture">
                                    <img src="./assets/content/placeholder.svg" alt="#">
                                </picture>
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h4 class="article-review__name">
                                                Линевич Денис Александрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                с
                                                «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                совместный,
                                                продолжительный опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                продолжительный
                                                опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».
                                            </p>
                                        </div>
                                    </div>
                                    <a class="article-review__footer" href="#modal-review-1" data-fancybox="review">
                                    <span class="article-review__link">
                                        Полный отзыв
                                    </span>
                                        <svg class="article-review__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </a>
                                </div>
                            </article>
                            <div hidden>
                                <!-- Здесь дублируется верхний отзыв, но без article-footer. Сделай проверку на количество символов, если их больше, чем 2.5 строки, то делаешь модалку  -->
                                <div class="modal modal--regular" id="modal-review-1">
                                    <article class="article-review">
                                        <picture class="article-review__picture">
                                            <img src="./assets/content/placeholder.svg" alt="#">
                                        </picture>
                                        <div class="article-review__content">
                                            <div class="article-review__header">
                                                <div class="article-review__info">
                                                    <h4 class="article-review__name">
                                                        Линевич Денис Александрович
                                                    </h4>
                                                    <p class="article-review__position">
                                                        Менеджер
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="article-review__main">
                                                <div class="editor fz-14 color-primary">
                                                    <p>
                                                        Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                        с
                                                        «DFL –
                                                        Транспорт» более 12 лет. За это время мы убедились в высоком
                                                        профессионализме
                                                        сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                        совместный,
                                                        продолжительный опыт сотрудничества с «DFL –
                                                        Транспорт» более 12 лет. За это время мы убедились в высоком
                                                        профессионализме
                                                        сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                        продолжительный
                                                        опыт сотрудничества с «DFL –
                                                        Транспорт» более 12 лет. За это время мы убедились в высоком
                                                        профессионализме
                                                        сотрудников компании «DFL-Транспорт».
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <picture class="article-review__picture">
                                    <img src="./assets/content/placeholder.svg" alt="#">
                                </picture>
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h4 class="article-review__name">
                                                Максим Субботин Петрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                КХочется очень Вас поблагодарить за хорошие партнерские отношения ,
                                                особенно
                                                за хорошее к нам отношение , помощь на Вашем складе и понимание
                                                создавшейся
                                                ситуации!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <picture class="article-review__picture">
                                    <img src="./assets/content/placeholder.svg" alt="#">
                                </picture>
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h4 class="article-review__name">
                                                Линевич Денис Александрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                с
                                                «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                совместный,
                                                продолжительный опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                продолжительный
                                                опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».
                                            </p>
                                        </div>
                                    </div>
                                    <a class="article-review__footer" href="">
                                    <span class="article-review__link">
                                        Полный отзыв
                                    </span>
                                        <svg class="article-review__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <picture class="article-review__picture">
                                    <img src="./assets/content/placeholder.svg" alt="#">
                                </picture>
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h4 class="article-review__name">
                                                Максим Субботин Петрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                КХочется очень Вас поблагодарить за хорошие партнерские отношения ,
                                                особенно
                                                за хорошее к нам отношение , помощь на Вашем складе и понимание
                                                создавшейся
                                                ситуации!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80 overflow-hidden">
        <div class="container">
            <div class="slider" data-slider="ourOffice">
                <div class="toolbar mb-30">
                    <h2 class="title">
                        Наш офис
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container slider__container--overflow">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery-free">
                            <a class="article-gallery" href="./assets/content/placeholder.svg" data-fancybox="office">
                                <img src="./assets/content/placeholder.svg" alt="Наш офис">
                            </a>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mbt-70 mbm-60">
        <div class="container">
            <div class="info">
                <div class="info__content">
                    <article class="article-contact article-contact--line-tab">
                        <div class="article-contact__header">
                            <h2 class="article-contact__title article-contact__title--large">
                                Контакты
                            </h2>
                            <h3 class="article-contact__name">
                                Титов Сергей Фёдорович
                            </h3>
                            <p class="article-contact__caption">
                                Менеджер по персоналу
                            </p>
                        </div>
                        <div class="article-contact__main">
                            <div class="article-contact__links">
                                <a class="link-contact link-contact--medium" href="tel:+74012306202">
                                    <svg class="link-contact__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                    </svg>
                                    <span class="link-contact__text">
                                        +7 (4012) 30 62 02
                                    </span>
                                </a>
                                <a class="link-contact link-contact--medium" href="mailto:grigory.pavlov@ru.dsv.com">
                                    <svg class="link-contact__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                    </svg>
                                    <span class="link-contact__text">
                                        grigory.pavlov@ru.dsv.com
                                    </span>
                                </a>
                                <!-- TODO Вставить ссылку на карту -->
                                <a class="link-contact link-contact--medium" href="">
                                    <svg class="link-contact__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-point"></use>
                                    </svg>
                                    <span class="link-contact__text">
                                        Калининградская обл., Гурьевский район, пос. Дорожное, ул. Датский проезд, 3
                                    </span>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="info__map" data-map="page"></div>
                <script src="https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&amp;lang=ru-RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
                <script>
                    ymaps.ready(init);

                    function init () {
                        const mapEl = document.querySelector('[data-map]');
                        const point = [54.6422742957742,20.520111363754264];

                        const myMap = new ymaps.Map(mapEl, {
                                center: point,
                                zoom: 15,
                                controls: ['default', 'zoomControl', 'routeButtonControl']
                            }),

                            placemark = new ymaps.Placemark(point, {}, {
                                iconImageHref: './assets/images/marker.svg',
                                iconImageSize: [30, 44],
                                iconImageOffset: [-15, -22]
                            });
                        myMap.geoObjects.add(placemark);

                        // myMap.controls
                        //     .add('zoomControl', { left: 5, top: 5 })
                        //     .add('mapTools', { left: 35, top: 5 });
                        // myMap.geoObjects.add(placemark);
                    }
                </script>
            </div>
        </div>
    </section>
    <section class="section relative z-index-1 mb-100 mbl-85 mbt-80 mbm-110">
        <div class="container">
            <div class="container-form">
                <h2 class="title mb-8 mbm-20">
                    Остались вопросы?
                </h2>
                <div class="editor editor--14 color-primary mb-20">
                    <p>
                        Вы умеете чуть больше или сомневаетесь, что у вас есть все необходимые навыки? <br class="mob-hidden">
                        Мы готовы рассмотреть, обсудить и предложить варианты сотрудничества, которые будут учитывать взаимные интересы.
                    </p>
                </div>
                <form class="form" data-form="./actionLink/">
                    <div class="columns columns--form">
                        <div class="columns__col columns__col--4 columns__col--tab-6 columns__col--mob-2 order-t-1">
                            <label class="field" data-input>
                                <p class="field__title">
                                    ФИО<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите ФИО">
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 columns__col--mob-2 order-t-2">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Телефон<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="+7 (___) ___-__-__">
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-6 columns__col--mob-2 order-t-3">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Почта<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите почту">
                            </label>
                        </div>
                        <div class="columns__col columns__col--8 columns__col--tab-12 columns__col--mob-2 mod-textarea order-t-4">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Комментарий
                                </p>
                                <textarea class="field__textarea" placeholder="Опишите подробнее"></textarea>
                            </label>
                        </div>
                        <div class="columns__col columns__col--3 columns__col--tab-6 columns__col--mob-2 order-t-5">
                            <label class="input-file" data-input-file>
                                <input type="file" class="input-file__field" data-input-file-field>
                                <svg class="input-file__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-clip"></use>
                                </svg>
                                <span class="input-file__text" data-input-file-caption>
                                    Прикрепить файл<strong>*</strong>
                                </span>
                            </label>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--tab-12 columns__col--mob-2 order-t-7">
                            <button class="button full" data-form-button>
                                <span class="button__text" data-form-text-field>
                                    Отправить запрос
                                </span>
                            </button>
                        </div>
                        <div class="columns__col columns__col--8 columns__col--tab-6 columns__col--mob-2 tab-hidden"></div>
                        <div class="columns__col columns__col--4 columns__col--tab-12 columns__col--mob-2 order-t-6">
                            <label class="agreement" data-agreement>
                                <input type="checkbox" class="agreement__field">
                                <div class="agreement__box"></div>
                                <span class="agreement__text">
                                    Я согласен на обработку <a href="">персональных данных</a>
                                </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
