<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeaderInvert %>
<main class="main decor-offers">
    <section class="section mb-130 mbm-80">
        <div class="container">
            <div class="cover">
                <picture class="cover__picture">
                    <img alt="#" src="./assets/content/offers-intro.jpg">
                </picture>
                <div class="cover__content">
                    <div class="columns">
                        <div class="columns__col columns__col--5">
                            <h1 class="title mb-10">
                                Вы перевозчик?<br> Ищите постоянные загрузки?
                            </h1>
                            <div class="editor fz-14 fz-mob-16 mb-20 mbm-30">
                                <p>
                                    Оставьте запрос и получите актуальное предложение по загрузкам
                                    <br class="tab-hidden">
                                </p>
                            </div>
                            <button class="button button--regular invert">
                                <span class="button__text">
                                    Стать партнером
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <h2 class="title mb-20">
                Актуальные предложения для загрузок
            </h2>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="columns columns--center columns--tab-start">
                <div class="columns__col columns__col--5 columns__col--tab-12 mbt-10 mbm-0">
                    <div class="columns">
                        <div class="columns__col columns__col--12 columns__col--tab-3">
                            <h2 class="title">
                                О DFL
                            </h2>
                        </div>
                        <div class="columns__col columns__col--12 columns__col--tab-9">
                            <div class="editor color-primary fz-14 fz-mob-16">
                                <p>
                                    DFL – транспортная компания, предоставляющая комплексный логистический сервис,
                                    которая
                                    помогает развивать конкурентные преимущества своих клиентов за счет использования
                                    лучших
                                    транспортных и информационных технологии в организации управления цепочками
                                    поставок.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns__col columns__col--7 columns__col--tab-12">
                    <div class="columns columns--mob-gap-12">
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>14</strong> млн.евро
                                </h3>
                                <p class="article-factoid__text">
                                    Годовой оборот (2012)
                                </p>
                            </article>
                        </div>
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>10 000</strong> м<sup>2</sup>
                                </h3>
                                <p class="article-factoid__text">
                                    Складских площадей класса А с системой Red Prairie
                                </p>
                            </article>
                        </div>
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>150</strong> сотрудников
                                </h3>
                                <p class="article-factoid__text">
                                    Владеющих иностранными языками
                                </p>
                            </article>
                        </div>
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>2 000</strong> м<sup>2</sup>
                                </h3>
                                <p class="article-factoid__text">
                                    Офисных и бытовых площадей
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80 mbm-30">
        <div class="container">
            <h2 class="title mb-20 mbt-30 mbm-20">
                Как мы работаем
            </h2>
            <div class="process" data-process id="animation">
                <svg class="process__svg process__svg--bg" height="36" viewBox="0 0 1920 36">
                    <path class="process__default" d="M0 17.5H1920" stroke="#DFDFF2"/>
                    <path class="process__fill" d="M0 17.5H1920" id="fill" stroke="#32407B"/>
                    <path class="process__dashed" d="M0 17.5H1920"/>
                </svg>
                <div class="process__route-mob" data-process-route-mobile></div>
                <div class="process__content">
                    <div class="columns columns--steps">
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    01
                                </strong>
                                <div class="article-step__marker" data-process-point="start"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Заявка на перевозку
                                    </h3>
                                    <p class="article-step__info">
                                        После отправки заявки наши менеджеры свяжуться с вами в ближайшее время
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    02
                                </strong>
                                <div class="article-step__marker"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Проработка
                                        решения
                                    </h3>
                                    <p class="article-step__info">
                                        Наши логисты сами разработают индивидуальную схему для перевозки груза
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    03
                                </strong>
                                <div class="article-step__marker"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Заключение договора
                                    </h3>
                                    <p class="article-step__info">
                                        Мы оптимизируем ваши затраты и осуществим грузоперевозку точно в срок договора
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    04
                                </strong>
                                <div class="article-step__marker"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Подача транспорта и перевозка груза
                                    </h3>
                                    <p class="article-step__info">
                                        Наши логисты сами разработают индивидуальную схему для перевозки вашего груза
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    05
                                </strong>
                                <div class="article-step__marker" data-process-point="end"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Доставка выполнена!
                                    </h3>
                                    <p class="article-step__info">
                                        Сотрудничество с DFL – это гарантия сроков доставки и целостности груза.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <svg class="process__svg process__svg--marker" height="36" viewBox="0 0 1920 36">
                    <g class="process__marker" transform="matrix(1 0 0 1 -36 0)">
                        <rect data-process-marker fill="#273366" height="36" rx="18" width="36"/>
                        <path d="M24.3416 17.1323L13.2549 11.3703C12.3312 10.8902 11.3802 11.9652 11.9693 12.8235L15.1414 17.4453C15.3695 17.7777 15.3757 18.2146 15.1571 18.5534L11.8628 23.658C11.2991 24.5316 12.2772 25.5785 13.187 25.0754L24.3644 18.8947C25.0627 18.5086 25.0497 17.5003 24.3416 17.1323Z"
                              fill="#ffffff"/>
                    </g>
                </svg>
            </div>
        </div>
    </section>
    <section class="section mb-90 mbt-105 mbm-40">
        <div class="container">
            <div class="slider" data-slider="reviews">
                <div class="toolbar mb-20">
                    <h2 class="title">
                        Отзывы партнеров-перевозчиков
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="nav-slider__button" data-button-prev>
                            <svg class="nav-slider__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="nav-slider__button" data-button-next>
                            <svg class="nav-slider__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                ООО "Багира-транс"
                                            </h3>
                                            <h4 class="article-review__name">
                                                Линевич Денис Александрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                с
                                                «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                совместный,
                                                продолжительный опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                продолжительный
                                                опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».
                                            </p>
                                        </div>
                                    </div>
                                    <a class="article-review__footer" href="">
                                    <span class="article-review__link">
                                        Полный отзыв
                                    </span>
                                        <svg class="article-review__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                ООО "Аврора"
                                            </h3>
                                            <h4 class="article-review__name">
                                                Максим Субботин Петрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                КХочется очень Вас поблагодарить за хорошие партнерские отношения ,
                                                особенно
                                                за хорошее к нам отношение , помощь на Вашем складе и понимание
                                                создавшейся
                                                ситуации!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                ООО "Багира-транс"
                                            </h3>
                                            <h4 class="article-review__name">
                                                Линевич Денис Александрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                с
                                                «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                совместный,
                                                продолжительный опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                продолжительный
                                                опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».
                                            </p>
                                        </div>
                                    </div>
                                    <a class="article-review__footer" href="">
                                    <span class="article-review__link">
                                        Полный отзыв
                                    </span>
                                        <svg class="article-review__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                ООО "Аврора"
                                            </h3>
                                            <h4 class="article-review__name">
                                                Максим Субботин Петрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                КХочется очень Вас поблагодарить за хорошие партнерские отношения ,
                                                особенно
                                                за хорошее к нам отношение , помощь на Вашем складе и понимание
                                                создавшейся
                                                ситуации!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section z-index-1 mb-85 mbl-85 mbt-60">
        <div class="container">
            <div class="shift shift--offers">
                <div class="shift__picture">
                    <img alt="Титов Сергей Фёдорович" src="./assets/content/ill-contact.jpg">
                </div>
                <div class="shift__content">
                    <h2 class="title mb-15">
                        Контакты
                    </h2>
                    <article class="article-contact article-contact--line">
                        <div class="article-contact__header">
                            <h3 class="article-contact__name">
                                Титов Сергей Фёдорович
                            </h3>
                            <p class="article-contact__caption">
                                Менеджер по персоналу
                            </p>
                        </div>
                        <div class="article-contact__main">
                            <a class="link-contact link-contact--medium" href="tel:+74012306215">
                                <svg class="link-contact__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-call"></use>
                                </svg>
                                <span class="link-contact__text">
                                    +7 (4012) 30-62-15
                                </span>
                            </a>
                            <a class="link-contact link-contact--medium" href="mailto:hauliers.kld@ru.dsv.com">
                                <svg class="link-contact__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                </svg>
                                <span class="link-contact__text">
                                    hauliers.kld@ru.dsv.com
                                </span>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>