<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main decor-projects">
    <section class="section pt-95 mb-80">
        <div class="container">
            <article class="article-intro">
                <picture class="article-intro__picture">
                    <img src="../assets/content/single-project-intro.jpg" alt="">
                </picture>
                <div class="article-intro__content">
                    <h1 class="article-intro__title">
                        Перевозка сверхнегабаритного груза весом 320 т
                    </h1>
                </div>
            </article>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="shift shift--about">
                <div class="shift__picture">
                    <img alt="Кто мы?" src="./assets/content/ill-about.jpg">
                </div>
                <div class="shift__content">
                    <h2 class="title mb-20">
                        Цель
                    </h2>
                    <div class="editor color-primary fz-14 fz-mob-16">
                        <p>
                            DFL - глобальный логистический оператор, лидер в области логистических процессов на
                            международном рынке. Штаб-квартира компании находится в Дании, в городе Копенгегене, где DFL
                            была основана в 1976 году.
                        </p>
                        <p>
                            В Калининграде DFL представлена компанией ООО "ДФЛ Транспорт", которая более 20 лет
                            оперирует на
                            региональном рынке и успела из обычного международного экспедитора превратиться в ведущего
                            поставщика интегрированных решений сети поставок для широкого спектра отраслей
                            промышленности.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="slider" data-slider="project">
                <div class="toolbar toolbar--project mb-20 relative z-index-2">
                    <h2 class="title">
                        Этапы решения
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide">
                            <article class="article-project">
                                <picture class="article-project__picture">
                                    <img src="./assets/content/placeholder.svg" alt="">
                                </picture>
                                <div class="article-project__content">
                                    <div class="editor fz-14 fz-mob-16">
                                        <h3>
                                            Выбор транспорта
                                        </h3>
                                        <p>
                                            Автомобильные перевозки в странах ЕС, России и СНГ, в том числе сборных и рефрижераторных грузов.
                                            Сопутствующие таможенные формальности в странах отправления и назначения грузов.
                                            Доставку опасных и негабаритных грузов.
                                            Консолидацию и обработку сборных грузов на собственных складах в странах ЕС, Москве и Калининграде.
                                            Автомобильные перевозки в странах ЕС, России и СНГ, в том числе сборных и рефрижераторных грузов.Сопутствующие таможенные
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-project">
                                <picture class="article-project__picture">
                                    <img src="./assets/content/placeholder.svg" alt="">
                                </picture>
                                <div class="article-project__content">
                                    <div class="editor fz-14 fz-mob-16">
                                        <h3>
                                            Выбор транспорта
                                        </h3>
                                        <p>
                                            Автомобильные перевозки в странах ЕС, России и СНГ, в том числе сборных и рефрижераторных грузов.
                                            Сопутствующие таможенные формальности в странах отправления и назначения грузов.
                                            Доставку опасных и негабаритных грузов.
                                            Автомобильные перевозки в странах ЕС, России и СНГ, в том числе сборных и рефрижераторных грузов.
                                            Сопутствующие таможенные формальности в странах отправления и назначения грузов.
                                            Доставку опасных и негабаритных грузов.
                                            Консолидацию и обработку сборных грузов на собственных складах в странах ЕС, Москве и Калининграде.
                                            Автомобильные перевозки в странах ЕС, России и СНГ, в том числе сборных и рефрижераторных грузов.Сопутствующие таможенные
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="container-form">
                <h2 class="title mb-20">
                    Запрос на проект
                </h2>
                <form class="form" data-form="./actionUrl/">
                    <div class="columns columns--form">
                        <div class="columns__col columns__col--3 columns__col--tab-6 order-m-1">
                            <label class="field" data-input>
                                <p class="field__title">
                                    ФИО<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите ФИО">
                            </label>
                        </div>
                        <div class="columns__col columns__col--3 columns__col--tab-6 order-m-2">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Название организации<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите организацию">
                            </label>
                        </div>
                        <div class="columns__col columns__col--3 columns__col--tab-6 order-m-3">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Телефон<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="+7 (___) ___-__-__">
                            </label>
                        </div>
                        <div class="columns__col columns__col--3 columns__col--tab-6 order-m-4">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Почта<strong>*</strong>
                                </p>
                                <input type="text" class="field__input" placeholder="Укажите почту">
                            </label>
                        </div>
                        <div class="columns__col columns__col--9 columns__col--tab-6 mod-textarea order-m-5">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Комментарий
                                </p>
                                <textarea class="field__textarea" placeholder="Опишите подробнее"></textarea>
                            </label>
                        </div>
                        <div class="columns__col columns__col--3 columns__col--tab-6 order-m-6">
                            <label class="field" data-input>
                                <p class="field__title">
                                    Дата погрузки и отгрузки
                                </p>
                                <input type="text" class="field__input" placeholder="Выберите даты">
                            </label>
                        </div>
                        <div class="columns__col columns__col--3 columns__col--tab-6 order-m-8">
                            <button class="button full" data-form-button="">
                                <span class="button__text" data-form-text-field>
                                    Отправить запрос
                                </span>
                            </button>
                        </div>
                        <div class="columns__col columns__col--9 columns__col--tab-6 mob-hidden"></div>
                        <div class="columns__col columns__col--3 columns__col--tab-6 order-m-7">
                            <label class="agreement" data-agreement="">
                                <input type="checkbox" class="agreement__field">
                                <div class="agreement__box"></div>
                                <span class="agreement__text">
                                    Я согласен на обработку<br> <a href="">персональных данных</a>
                                </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="section mb-80">
        <div class="container">
            <div class="slider" data-slider="gallery">
                <div class="toolbar mb-30 mbt-20">
                    <h2 class="title">
                        Галерея
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-1.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-1.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-2.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-2.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-3.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-3.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-1.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-1.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-2.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-2.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-3.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-3.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-1.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-1.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-2.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-2.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--gallery">
                            <a class="article-gallery" href="./assets/content/item-gallery-3.jpg" data-fancybox="photo">
                                <img src="./assets/content/item-gallery-3.jpg" alt="Заголовок изображения">
                            </a>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-150 mbm-80">
        <div class="container">
            <div class="slider" data-slider="projectsAnother">
                <div class="toolbar mb-20">
                    <h2 class="title">
                        Галерея
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide slider__slide--project slider__slide--project-l">
                            <a class="article-service" href="">
                                <picture class="article-service__picture">
                                    <img alt="Перевозка сверхнегабаритного груза весом 320 т" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Перевозка сверхнегабаритного груза весом 320 т
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--project slider__slide--project-sm">
                            <a class="article-service" href="">
                                <picture class="article-service__picture">
                                    <img alt="Мультимодальная перевозка карьерного экскаватора P&H 4100" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Мультимодальная перевозка карьерного экскаватора P&H 4100
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--project slider__slide--project-l">
                            <a class="article-service" href="">
                                <picture class="article-service__picture">
                                    <img alt="Мультимодальная перевозка карьерного экскаватора P&H 4100" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Мультимодальная перевозка карьерного экскаватора P&H 4100
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--project slider__slide--project-sm">
                            <a class="article-service" href="">
                                <picture class="article-service__picture">
                                    <img alt="Складское хранение" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Складское хранение
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
