<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mb-80 pt-100 ptm-80">
        <div class="container">
            <time class="date mb-20 mbm-10">
                08:53, 6 декабря 2022
            </time>
            <div class="editor fz-14 fz-mob-16">
                <h1>
                    Заголовок новости
                </h1>
                <picture class="picture float-right">
                    <img src="./assets/content/630x257.svg" alt="#">
                </picture>
                <p>
                    На брифинге для журналистов премьер-министр Казахстана Алихан Смаилов сообщил, что из России уходят
                    многие иностранные компании. – Мы составили список более 300 наиболее крупных таких иностранных
                    компаний. С ними проводили работу по информированию о возможностях их деятельности в Казахстане. На
                    сегодняшний день 56 компаний из них изъявили желание релоцировать свои офисы в Казахстан. Часть
                    компаний уже приняли. С ними проводили работу по информированию о возможностях их деятельности в
                    Казахстане. На сегодняшний день 56 компаний из них изъявили желание.
                </p>

                <p>
                    В настоящее время более 50 международных компаний из России перебазировались в Казахстан.
                    Концентрировать их все в крупных городах непродуктивно. Акимату (LR: администрации) нужно
                    проработать размещение таких производств рядом с Алматы по периметру Большой Алматинской кольцевой
                    автомобильной дорогой, что существенно поможет экономике области. Обсудите этот вопрос с
                    Правительством и компаниями, – посоветовал Президент.
                </p>
                <p>
                    На брифинге для журналистов премьер-министр Казахстана Алихан Смаилов сообщил, что из России уходят
                    многие иностранные компании. – Мы составили список более 300 наиболее крупных таких иностранных
                    компаний. С ними проводили работу по информированию о возможностях их деятельности в Казахстане. На
                    сегодняшний день 56 компаний из них изъявили желание релоцировать свои офисы в Казахстан. Часть
                    компаний уже приняли положительное решение и уже, можно сказать, релоцировались, – сказал чиновник,
                    приведя в пример фирмы «Индрайвер» и «Honeywell». С ними проводили работу по информированию о
                    возможностях их деятельности в Казахстане. На сегодняшний день 56 компаний из них.
                </p>
                <p>
                    Основную задачу республиканского руководства премьер-министр видит в том, чтобы привлечь
                    производственные мощности зарубежных компаний. – Для этого у нас есть инструменты, которые действуют
                    и для отечественных, и для иностранных инвесторов. Это и определенные налоговые, и регуляторные
                    преференции. Плюс поддержка местных исполнительных органов в части инфраструктуры, – пояснил
                    Смаилов.
                </p>
                <picture class="picture float-left">
                    <img src="./assets/content/630x257.svg" alt="#">
                </picture>
                <p>
                    В настоящее время более 50 международных компаний из России перебазировались в Казахстан.
                    Концентрировать их все в крупных городах непродуктивно. Акимату (LR: администрации) нужно
                    проработать размещение таких производств рядом с Алматы по периметру Большой Алматинской кольцевой
                    автомобильной дорогой, что существенно поможет экономике области. Обсудите этот вопрос с
                    Правительством и компаниями, – посоветовал Президент.
                    В настоящее время более 50 международных компаний из России перебазировались в Казахстан.
                    Концентрировать их все в крупных городах непродуктивно. Акимату (LR: администрации) нужно. В
                    настоящее время более 50 международных компаний из России перебазировались в Казахстан.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title mb-30 mbm-20">
                Проекты
            </h2>
            <div class="columns">
                <div class="columns__col columns__col--4">
                    <a class="article-service article-service--static--large" href="">
                        <picture class="article-service__picture">
                            <img alt="Складское хранение" src="./assets/content/placeholder.svg">
                        </picture>
                        <div class="article-service__content">
                            <h3 class="article-service__title">
                                Складское хранение
                            </h3>
                            <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                <svg class="article-service__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--8">
                    <svg>
                        <use xlink:href="./assets/sprite/sprite.svg#icon-camera"></use>
                    </svg>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionPartners %>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
