<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section">
        <div class="container">
            <div class="slider" data-slider="contentGallery">
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide">
                            1
                        </div>
                        <div class="swiper-slide slider__slide">
                            2
                        </div>
                        <div class="swiper-slide slider__slide">
                            3
                        </div>
                        <div class="swiper-slide slider__slide">
                            4
                        </div>
                        <div class="swiper-slide slider__slide">
                            5
                        </div>
                        <div class="swiper-slide slider__slide">
                            6
                        </div>
                        <div class="swiper-slide slider__slide">
                            7
                        </div>
                        <div class="swiper-slide slider__slide">
                            8
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="slider" data-slider="news">
                <div class="toolbar mb-30">
                    <h2 class="title">
                        Новости
                    </h2>
                    <span>
                        Показать все
                    </span>
                    <!--                    <div data-nav>-->
                    <!--                        <button data-button-prev>-->
                    <!--                            Назад-->
                    <!--                        </button>-->
                    <!--                        <button data-button-next>-->
                    <!--                            Вперед-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide">
                            1
                        </div>
                        <div class="swiper-slide slider__slide">
                            2
                        </div>
                        <div class="swiper-slide slider__slide">
                            3
                        </div>
                        <div class="swiper-slide slider__slide">
                            4
                        </div>
                        <div class="swiper-slide slider__slide">
                            5
                        </div>
                        <div class="swiper-slide slider__slide">
                            6
                        </div>
                        <div class="swiper-slide slider__slide">
                            7
                        </div>
                        <div class="swiper-slide slider__slide">
                            8
                        </div>
                    </div>
                    <div class="slider__progressbar slider__progressbar--30 progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section z-index-1 mb-80 mbm-70">
        <div class="container">
            <div class="slider" data-slider="services">
                <div class="toolbar mb-25">
                    <h2 class="title">
                        Сопутствующие услуги
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Складское хранение" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Складское хранение
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Страхование рисков
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Длинный заголовок в несколько строк текста, чтобы увидеть пример, как это
                                        работает
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Складское хранение" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Складское хранение
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Страхование рисков
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Таможенное оформление
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
