<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<!--body&#45;&#45;menu body&#45;&#45;fixed-->
<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main decor-1">
    <section class="section mb-80 pt-100 ptm-80">
        <div class="container" id="app-calculator"></div>
    </section>
    <section class="section z-index-2 mb-80">
        <div class="container">
            <div class="shift shift--main">
                <div class="shift__picture">
                    <img alt="" src="./assets/content/ill-1.jpg">
                </div>
                <div class="shift__content">
                    <h2 class="title mb-20">
                        DFL осуществляет перевозки сборных грузов:
                    </h2>
                    <div class="editor color-primary fz-14 fz-mob-16">
                        <ul>
                            <li>
                                Автомобильные перевозки в странах ЕС, России и СНГ, в том числе сборных и
                                рефрижераторных грузов.
                            </li>
                            <li>
                                Сопутствующие таможенные формальности в странах отправления и назначения грузов.
                            </li>
                            <li>
                                Доставку опасных и негабаритных грузов.
                            </li>
                            <li>
                                Консолидацию и обработку сборных грузов на собственных складах в странах ЕС, Москве и
                                Калининграде.
                            </li>
                            <li>
                                Консультацию в юридических вопросах ВЭД, взаимодействию с органами сертификации.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section decor-about mb-30 mbl-80">
        <div class="container">
            <div class="columns columns--center columns--tab-start">
                <div class="columns__col columns__col--5 columns__col--tab-12 mbt-10 mbm-0">
                    <div class="columns">
                        <div class="columns__col columns__col--12 columns__col--tab-3">
                            <h2 class="title">
                                О DFL
                            </h2>
                        </div>
                        <div class="columns__col columns__col--12 columns__col--tab-9">
                            <div class="editor color-primary fz-14 fz-mob-16">
                                <p>
                                    DFL – транспортная компания, предоставляющая комплексный логистический сервис,
                                    которая
                                    помогает развивать конкурентные преимущества своих клиентов за счет использования
                                    лучших
                                    транспортных и информационных технологии в организации управления цепочками
                                    поставок.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns__col columns__col--7 columns__col--tab-12">
                    <div class="columns columns--mob-gap-12">
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>14</strong> млн.евро
                                </h3>
                                <p class="article-factoid__text">
                                    Годовой оборот (2012)
                                </p>
                            </article>
                        </div>
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>10 000</strong> м<sup>2</sup>
                                </h3>
                                <p class="article-factoid__text">
                                    Складских площадей класса А с системой Red Prairie
                                </p>
                            </article>
                        </div>
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>150</strong> сотрудников
                                </h3>
                                <p class="article-factoid__text">
                                    Владеющих иностранными языками
                                </p>
                            </article>
                        </div>
                        <div class="columns__col columns__col--6 columns__col--mob-1">
                            <article class="article-factoid bg-white">
                                <h3 class="article-factoid__title">
                                    <strong>2 000</strong> м<sup>2</sup>
                                </h3>
                                <p class="article-factoid__text">
                                    Офисных и бытовых площадей
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-80 mbt-40 mbm-80">
        <div class="container">
            <h2 class="title mb-20 mbt-30 mbm-20">
                Как мы работаем
            </h2>
            <div class="process" id="animation" data-process>
                <svg class="process__svg process__svg--bg" height="36" viewBox="0 0 1920 36">
                    <path class="process__default" d="M0 17.5H1920" stroke="#DFDFF2"/>
                    <path class="process__fill" id="fill" d="M0 17.5H1920" stroke="#32407B"/>
                    <path class="process__dashed" d="M0 17.5H1920"/>
                </svg>
                <div class="process__route-mob" data-process-route-mobile></div>
                <div class="process__content">
                    <div class="columns columns--steps">
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    01
                                </strong>
                                <div class="article-step__marker" data-process-point="start"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Заявка на перевозку
                                    </h3>
                                    <p class="article-step__info">
                                        После отправки заявки наши менеджеры свяжуться с вами в ближайшее время
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    02
                                </strong>
                                <div class="article-step__marker"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Проработка
                                        решения
                                    </h3>
                                    <p class="article-step__info">
                                        Наши логисты сами разработают индивидуальную схему для перевозки груза
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    03
                                </strong>
                                <div class="article-step__marker"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Заключение договора
                                    </h3>
                                    <p class="article-step__info">
                                        Мы оптимизируем ваши затраты и осуществим грузоперевозку точно в срок договора
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    04
                                </strong>
                                <div class="article-step__marker"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Подача транспорта и перевозка груза
                                    </h3>
                                    <p class="article-step__info">
                                        Наши логисты сами разработают индивидуальную схему для перевозки вашего груза
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="columns__col columns__col--2">
                            <article class="article-step" data-process-step>
                                <strong class="article-step__number">
                                    05
                                </strong>
                                <div class="article-step__marker" data-process-point="end"></div>
                                <div class="article-step__content">
                                    <h3 class="article-step__title">
                                        Доставка выполнена!
                                    </h3>
                                    <p class="article-step__info">
                                        Сотрудничество с DFL – это гарантия сроков доставки и целостности груза.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <svg class="process__svg process__svg--marker" height="36" viewBox="0 0 1920 36">
                    <g class="process__marker" transform="matrix(1 0 0 1 -36 0)">
                        <rect fill="#273366" height="36" rx="18" width="36" data-process-marker/>
                        <path d="M24.3416 17.1323L13.2549 11.3703C12.3312 10.8902 11.3802 11.9652 11.9693 12.8235L15.1414 17.4453C15.3695 17.7777 15.3757 18.2146 15.1571 18.5534L11.8628 23.658C11.2991 24.5316 12.2772 25.5785 13.187 25.0754L24.3644 18.8947C25.0627 18.5086 25.0497 17.5003 24.3416 17.1323Z"
                              fill="#ffffff"/>
                    </g>
                </svg>
            </div>
        </div>
    </section>
    <section class="section mb-80 mbt-100 mbm-80">
        <div class="container">
            <div class="toolbar mb-20">
                <h2 class="title ">
                    Документы
                </h2>
            </div>
            <div class="list-articles">
                <a class="article-doc" href="">
                    <div class="article-doc__main">
                        <p>Свидетельство о государственной перерегистрации юридического лица</p>
                    </div>
                    <div class="article-doc__aside">
                        <span class="article-doc__caption">
                            Скачать документ
                        </span>
                        <svg class="article-doc__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                        </svg>
                    </div>
                </a>
                <a class="article-doc" href="">
                    <div class="article-doc__main">
                        <p>Правилами транспортно-экспедиционной деятельности (утв. Постановлением Правительства РФ от
                            08.09.2006 г. № 554)</p>
                    </div>
                    <div class="article-doc__aside">
                        <span class="article-doc__caption">
                            Скачать документ
                        </span>
                        <svg class="article-doc__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                        </svg>
                    </div>
                </a>
                <a class="article-doc" href="">
                    <div class="article-doc__main">
                        <p>Приложение 4.1.6 Письмо ФНС от 21.08.2009 г. № ШС-22-3/660 "О направлении систематизированных
                            материалов по документированию операций при транспортировке товаров")</p>
                    </div>
                    <div class="article-doc__aside">
                        <span class="article-doc__caption">
                            Скачать документ
                        </span>
                        <svg class="article-doc__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-file"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="section z-index-1 mb-60 mbl-80">
        <div class="container">
            <div class="slider" data-slider="reviews">
                <div class="toolbar mb-20">
                    <h2 class="title">
                        Что о нас говорят
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <picture class="article-review__logo">
                                            <img alt="" src="./assets/content/logo-review-1.svg">
                                        </picture>
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                Бауцентр
                                            </h3>
                                            <h4 class="article-review__name">
                                                Линевич Денис Александрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                с
                                                «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                совместный,
                                                продолжительный опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                продолжительный
                                                опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».
                                            </p>
                                        </div>
                                    </div>
                                    <a class="article-review__footer" href="#modal-review-1" data-fancybox="review">
                                        <span class="article-review__link">
                                            Полный отзыв
                                        </span>
                                        <svg class="article-review__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </a>
                                </div>
                            </article>
                            <div hidden>
                                <!-- Здесь дублируется верхний отзыв, но без article-footer. Сделай проверку на количество символов, если их больше, чем 2.5 строки, то делаешь модалку  -->
                                <div class="modal modal--regular" id="modal-review-1">
                                    <article class="article-review">
                                        <div class="article-review__content">
                                            <div class="article-review__header">
                                                <picture class="article-review__logo">
                                                    <img alt="" src="./assets/content/logo-review-1.svg">
                                                </picture>
                                                <div class="article-review__info">
                                                    <h3 class="article-review__organization">
                                                        Бауцентр
                                                    </h3>
                                                    <h4 class="article-review__name">
                                                        Линевич Денис Александрович
                                                    </h4>
                                                    <p class="article-review__position">
                                                        Менеджер
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="article-review__main">
                                                <div class="editor fz-14 color-primary">
                                                    <p>
                                                        Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                        с
                                                        «DFL –
                                                        Транспорт» более 12 лет. За это время мы убедились в высоком
                                                        профессионализме
                                                        сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                        совместный,
                                                        продолжительный опыт сотрудничества с «DFL –
                                                        Транспорт» более 12 лет. За это время мы убедились в высоком
                                                        профессионализме
                                                        сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                        продолжительный
                                                        опыт сотрудничества с «DFL –
                                                        Транспорт» более 12 лет. За это время мы убедились в высоком
                                                        профессионализме
                                                        сотрудников компании «DFL-Транспорт».
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <picture class="article-review__logo">
                                            <img alt="" src="./assets/content/logo-review-2.svg">
                                        </picture>
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                ТД Европа
                                            </h3>
                                            <h4 class="article-review__name">
                                                Максим Субботин Петрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                КХочется очень Вас поблагодарить за хорошие партнерские отношения ,
                                                особенно
                                                за хорошее к нам отношение , помощь на Вашем складе и понимание
                                                создавшейся
                                                ситуации!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <picture class="article-review__logo">
                                            <img alt="" src="./assets/content/logo-review-1.svg">
                                        </picture>
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                Бауцентр
                                            </h3>
                                            <h4 class="article-review__name">
                                                Линевич Денис Александрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                Компания Бауцентр имеет совместный, продолжительный опыт сотрудничества
                                                с
                                                «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт». Компания Бауцентр имеет
                                                совместный,
                                                продолжительный опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».Компания Бауцентр имеет совместный,
                                                продолжительный
                                                опыт сотрудничества с «DFL –
                                                Транспорт» более 12 лет. За это время мы убедились в высоком
                                                профессионализме
                                                сотрудников компании «DFL-Транспорт».
                                            </p>
                                        </div>
                                    </div>
                                    <a class="article-review__footer" href="">
                                    <span class="article-review__link">
                                        Полный отзыв
                                    </span>
                                        <svg class="article-review__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__slide">
                            <article class="article-review">
                                <div class="article-review__content">
                                    <div class="article-review__header">
                                        <picture class="article-review__logo">
                                            <img alt="" src="./assets/content/logo-review-2.svg">
                                        </picture>
                                        <div class="article-review__info">
                                            <h3 class="article-review__organization">
                                                ТД Европа
                                            </h3>
                                            <h4 class="article-review__name">
                                                Максим Субботин Петрович
                                            </h4>
                                            <p class="article-review__position">
                                                Менеджер
                                            </p>
                                        </div>
                                    </div>
                                    <div class="article-review__main">
                                        <div class="editor fz-14 color-primary">
                                            <p>
                                                КХочется очень Вас поблагодарить за хорошие партнерские отношения ,
                                                особенно
                                                за хорошее к нам отношение , помощь на Вашем складе и понимание
                                                создавшейся
                                                ситуации!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section z-index-1 mb-80 mbm-70">
        <div class="container">
            <div class="slider" data-slider="services">
                <div class="toolbar mb-25">
                    <h2 class="title">
                        Сопутствующие услуги
                    </h2>
                    <div class="nav-slider tab-hide" data-nav>
                        <button class="button-nav" data-button-prev>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="button-nav" data-button-next>
                            <svg class="button-nav__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container slider__container">
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Складское хранение" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Складское хранение
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Страхование рисков
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Длинный заголовок в несколько строк текста, чтобы увидеть пример, как это
                                        работает
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Складское хранение" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Складское хранение
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Страхование рисков
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__slide slider__slide--service">
                            <a class="article-service article-service--slide" href="">
                                <picture class="article-service__picture">
                                    <img alt="Страхование рисков" src="./assets/content/placeholder.svg">
                                </picture>
                                <div class="article-service__content">
                                    <h3 class="article-service__title">
                                        Таможенное оформление
                                    </h3>
                                    <div class="article-service__toolbar">
                                        <span class="article-service__link">
                                            Подробнее
                                        </span>
                                        <svg class="article-service__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-review"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider__progressbar progressbar"></div>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.sectionPartners %>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
