* {
    box-sizing: border-box;

    &[hidden] {
        display: none !important;
        visibility: hidden !important;
    }
}

html {
    scroll-behavior: smooth;
}

a,
svg,
button {
    transition: 0.3s all;
}

input,
textarea,
button {
    font-family: inherit;
}

.z-index {
    &-1 {
        z-index: 1;
    }
    &-2 {
        z-index: 2;
    }
    &-3 {
        z-index: 3;
    }
}



 //.desktop-hidden {
 //    display: none;
 //    visibility: hidden;
 //    @include r(1200) {
 //        display: block;
 //        visibility: visible;
 //    }
 //}

.text-center {
    text-align: center;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.grow {
    flex-grow: 1;
}

.tab-hidden {
    @include r(1000) {
        display: none;
        visibility: hidden;
    }
}

.mob-hidden {
    @include r(700) {
        display: none;
        visibility: hidden;
    }
}

.full {
    width: 100%;
    max-width: 100%;
}

.overflow-visible {
    overflow-x: visible;
}

.overflow-hidden {
    overflow: hidden;
}
